.chef_content {
  display: flex;
  align-items: center;
  padding: 3rem;
  font-family: "Open Sans", sans-serif;
}
.chef_content .chef_right {
  flex: 1 1;
  transform: scale(0.8);
}
.chef_content .chef_left {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  flex: 1 1;
}
.chef_content .chef_left h1 {
  font-family: "Cormorant Upright", serif;
  color: #DCCA87;
  font-size: 4.4rem;
  font-weight: 600;
}
.chef_content .chef_name span:nth-child(1) {
  color: #DCCA87;
}

@media screen and (max-width: 768px) {
  .chef_content {
    margin: 5rem 0;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 0 2rem;
  }
  .chef_content .chef_left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .chef_content .chef_left h1 {
    font-size: 2rem;
  }
  .chef_content .chef_left span {
    line-height: 32px;
  }
  .chef_content .chef_right img {
    width: 20rem;
  }
}