@import "../../shared/Styles.scss";

.menu{
    background-color: $--color-black;
    
    .header_left{
     align-items: center;
     padding-top: 5rem;
     span{
        font-family: $--font-alt;
     }
    }
    .menu_content{
    align-items: center;
    padding: 0 7rem;
        img{
             width: 20rem;
             
         }
    }
   
}
@media screen and(max-width:990px) {
    .menu {
        
        .menu_content {
            transform: scale(0.8);
flex-direction: column;

img{
     width: 20rem;
     margin: 0 auto;
     
 }
        }
    }
}