@import "../../shared/Styles.scss";
.videosrction{
    position: relative;
    overflow: hidden;
    padding: 2rem 0;
   &::after{
    content: "";
    background-color: rgba(0 , 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
   }
    span{
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 100;
        transform: translate(-10px, -10px);
        font-size: 5rem;
        color: $--color-golden;
        cursor: pointer;
    }
}