@import "../../shared/Styles.scss";
.Gallery_content {
      
    display: flex;
    align-items: center;
    padding: 0 6rem;
    font-family: $--font-alt;
    gap: 8rem;
   
 .Gallery_right{
    flex: 1 1;
    
    .gallery_slide{
        height: 34rem;
       
        width: 62%;
    object-fit: cover;
    border-radius: 23px;
    box-shadow: 14px -8px 0 0 $--color-golden;
    }
    .gallery_arrows{
        display: flex;
        gap: 2rem;
        width: 2rem;
        padding-top: 1rem;
 }
}

    .Gallery_left{
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        flex: 1 1;
      
       h1{
        font-family: $--font-base;
        color: $--color-golden;
        font-size: 4.4rem;
        font-weight: 600;
       }
      
      
    }

       
    }
    
   


@media screen and (max-width:990px) {
    .Gallery_content{
        margin: 5rem 0;
        display: flex;
        flex-direction: column;
        gap: 0rem;
        padding: 0 2rem;

        .Gallery_left{
            display: flex;
            flex-direction: column;
            gap: 2rem;

            h1{
                font-size: 2rem;
            }
            span{
                line-height: 32px;
            }
        }

        .Gallery_right{
          
            .gallery_slide{
                width: 20rem;
                margin-top: 4rem ;
            }
        }
    }
}




