@import "../../shared/Styles.scss";
.header_content {
    background:$--color-black;
    padding: 3rem;
    font-family: $--font-alt;
    display: flex;
    align-items: center;
  
 .header_right{
    flex: 1 1;
    
 }

    .header_left{
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        flex: 1 1;
       h1{
        font-family: $--font-base;
        color: $--color-golden;
        font-size: 6rem;
       }
    }

}

@media screen and (max-width:768px) {
    .header_content{
        padding: 5rem 16px;
        display: flex;
        flex-direction: column;
        gap: 3rem;
      

        .header_left{
            display: flex;
            flex-direction: column;
            gap: 2rem;

            h1{
                font-size: 2rem;
            }
            span{
                line-height: 32px;
            }
        }

        .header_right{
            img{
                width: 20rem;
            }
        }
    }
}




