@import "../../shared/Styles.scss";

.custom__button {
    background-color: $--color-crimson;
      color: $--color-black;
      font-family: $--font-base;
      font-weight: 700;
      letter-spacing: 0.04em;
      line-height: 28px;
      font-size: 16px;
      padding: 0.5rem 1.5rem;
      border-radius: 1px;
      border: none;
      outline: none;
      cursor: pointer;
      width: 10rem;
  }