.header_content {
  background: #0C0C0C;
  padding: 3rem;
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
}
.header_content .header_right {
  flex: 1 1;
  transform: scale(0.8);
}
.header_content .header_left {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  flex: 1 1;
}
.header_content .header_left h1 {
  font-family: "Cormorant Upright", serif;
  color: #DCCA87;
  font-size: 6rem;
}

@media screen and (max-width: 768px) {
  .header_content {
    padding: 5rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  .header_content .header_left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .header_content .header_left h1 {
    font-size: 2rem;
  }
  .header_content .header_left span {
    line-height: 32px;
  }
  .header_content .header_right img {
    width: 20rem;
  }
}